
body{
    /* background-color: black; */
     border: 1px solid var(--unnamed-color-0c0c0c);
     background: #1A1A1A 0% 0% no-repeat padding-box;
     display: flex;
     justify-content: center;
     align-items: center; 
 }
 .switch {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
    

  input:checked + .slider {
    background-color: white;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  .circle {
    display: inline-block;
    margin-left: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-size: 20px;
    color: #1A1A1A;
    text-align: center;
    background: #E6E6E6
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .row > form {
    margin-top: 40px;
    width: 300px;
    height: 20px;
    display: inline-block;
  }

  .addmore{
      margin-top: 60px;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    background-color: #E6E6E6 0% 0% no-repeat padding-box;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 1px;
    background-color: #1A1A1A;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .boxview{
    align-content: center;
    width: 400px;
    height: 40px;
    background: #363636 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 0.4;
    text-align: center;
    font: normal normal normal 20px/44px Bahnschrift;
    letter-spacing: 3.2px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 0.1;
  }
  .boxdate{
    text-align: center;
    font: normal normal normal 16px/44px Bahnschrift;
    letter-spacing: 3.2px;
    color: #FFFFFF;
    text-transform: uppercase;
    align-content: center;
    width: 200px;
    height: 40px;
    background: #363636 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 0.4;
  }

 h2{
     font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-36)/var(--unnamed-line-spacing-50) var(--unnamed-font-family-bahnschrift);
     letter-spacing: var(--unnamed-character-spacing-7-2);
     color: var(--unnamed-color-ffffff);
     text-align: center;
     font: normal normal normal 24px Bahnschrift;
     letter-spacing: 7.2px;
     color: #FFFFFF;
     text-transform: uppercase;
     opacity: 1;
 }
 
 .uploadoc{
     font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-36)/var(--unnamed-line-spacing-50) var(--unnamed-font-family-bahnschrift);
     letter-spacing: var(--unnamed-character-spacing-7-2);
     color: var(--unnamed-color-ffffff);
     text-align: center;
     font: normal normal normal 24px Bahnschrift;
     letter-spacing: 7.2px;
     color: #FFFFFF;
     text-transform: uppercase;
     opacity: 1;
 }
 
 .clickhere{
     color: #707070;
     display: inline-block;
     margin: 20px;
     width: 200px;
     height: 200px;
     background-color: #363636 0% 0% no-repeat padding-box;
     border-radius: 6px;
     opacity: 0.4;
 }
 .uplod{
     /* background: #363636 0% 0% no-repeat padding-box; */
 }
 .formfill{
     margin: 25px;
     color: #FFFFFF;
     text-transform: uppercase;
     font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-32)/var(--unnamed-line-spacing-44) var(--unnamed-font-family-bahnschrift);
     letter-spacing: var(--unnamed-character-spacing-6-4);
     color: var(--unnamed-color-ffffff);
     text-align: left;
     font: normal normal normal 24px Bahnschrift;
     letter-spacing: 6.4px;
 }
 

 
 .entertxtfill{
     align-items: center;
     background: #707070 0% 0% no-repeat padding-box;
     border-radius: 6px;
     width: 40%;
     height: 40px;
     font: var(--unnamed-font-style-normal) normal 300 var(--unnamed-font-size-24)/var(--unnamed-line-spacing-34) var(--unnamed-font-family-bahnschrift);
     letter-spacing: var(--unnamed-character-spacing-4-8);
     color: var(--unnamed-color-ffffff);
     text-align: center;
     font: normal normal 300 24px/34px Bahnschrift;
     letter-spacing: 4.8px;
     color: #FFFFFF;
     text-transform: uppercase;
     opacity: 0.1;
 }
 .slider {
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #ccc;
     -webkit-transition: .4s;
     transition: .4s;
   }
 
   .slider.round {
     border-radius: 34px;
   }
   
   .slider.round:before {
     border-radius: 50%;
   }
 .switch {
     position: relative;
     display: inline-block;
     width: 60px;
     height: 34px;
   }
 
 .docs{
     margin-left: 25px;
     font: var(--unnamed-font-style-normal) normal 300 var(--unnamed-font-size-24)/var(--unnamed-line-spacing-34) var(--unnamed-font-family-bahnschrift);
     letter-spacing: var(--unnamed-character-spacing-4-8);
     color: var(--unnamed-color-ffffff);
     text-align: left;
     font: normal normal 300 24px/34px Bahnschrift;
     letter-spacing: 4.8px;
     color: #FFFFFF;
     text-transform: uppercase;
     /* opacity: 0.1; */
 }
 
 .butto{
     width: 120px;
     height: 40px;
     margin-top: 30px;
     margin-bottom: 80px;
     background: #ffffff 0% 0% no-repeat padding-box;
     border: 1px solid #ffffff;
 }
 
 .progr{
     margin-top: 50px;
     font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-34) var(--unnamed-font-family-bahnschrift);
     letter-spacing: var(--unnamed-character-spacing-4-8);
     color: var(--unnamed-color-e6e6e6);
     text-align: center;
     font: normal normal normal 24px/34px Bahnschrift;
     letter-spacing: 4.8px;
     color: #E6E6E6;
     opacity: 1;
 }

 .cener{
    display: flex;
    justify-content: center;
    align-items: center;
 }
