.creator{
    text-align: left;
    font: normal normal normal 20px/44px Bahnschrift;
    letter-spacing: 4.2px;
    color: #FFFFFF;
    text-transform: uppercase;
    
}

.txt_box{
    margin: 30px;
    margin-top: 0px;
    background: #363636 0% 0% no-repeat padding-box;
    height: 50px;
    width: 250px;
    border-radius: 6px;
    opacity: 0.4;
    text-align: left;
    font: normal normal 300 16px/44px Bahnschrift;
    letter-spacing: 6.4px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.centro{
    align-content: space-around;
    margin: 30px;
    display: flex;
    justify-content: center;
}