.bott{
    position: relative;
    margin-top: 60px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-34) var(--unnamed-font-family-bahnschrift);
    letter-spacing: var(--unnamed-character-spacing-4-8);
    color: var(--unnamed-color-e6e6e6);
    text-align: center;
    font: normal normal normal 18px/34px Bahnschrift;
    letter-spacing: 4.8px;
    color: #E6E6E6;
    text-transform: uppercase;
    opacity: .3;
}

.price{
    
    display: flex;
    justify-content: center;
    align-items: center;
}