.pricerange {
  display: flex;
  margin-bottom: 30px;
}
.counter {
  padding-left: 40px;
}
input {
  background: inherit;
  border-radius: 20px;
  border: 1px solid white;
  width: 80px;
  padding-left: 10px;
}
.downbtn {
  width: 0.5rem;
}
