.dropbtnfilter {
  background: transparent;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  width: 13rem;
  border: 1.5px solid white;
  border-radius: 1.4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1rem;
  height: 50px;
}
.btn {
  background-color: white;
  border: none;
  color: black;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
}

.dropdownfilter {
  position: relative;
  display: inline-block;
}

.dropdown-contentfilter {
  display: none;
  position: absolute;
  background: transparent;
  min-width: 200px;
  z-index: 1;
  font-style: normal;
  background: black;
  border-radius: 1rem;
  box-shadow: 0px 4px 45px #000000;
  /* height:10rem;  */
}

.dropdown-contentfilter a {
  color: white;
  padding-left: 1rem;
  /* margin-left: -4rem; */
  text-decoration: none;
  display: block;
  font-style: normal;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  width: max-content;
  height: fit-content;
  margin-top: 1rem;

  /* border-bottom:1px solid black; */
}

.dropdown-contentfilter a:hover {
  background: transparent;
}

.dropdownfilter:hover .dropdown-contentfilter {
  display: block;
}

.dropdownfilter:hover .dropbtnfilter {
  background: transparent;
}

.downbtn {
  width: 1.5rem;
  height: 1.5rem;
  background: url("../images/down.png") no-repeat;
  display: inline-block;
}
.upbtn {
  width: 1.5rem;
  height: 1.5rem;
  background: url("../images/up.png") no-repeat;
  display: inline-block;
}
