.header-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  /* background-image: url('../images/infopage.png'); */
  position: absolute;
  width: 100%;
  margin-top: 3rem;
}

.header-ham {
  /* flex: 1 0 0; */
  color: #707070;
  font: normal normal bold 2.5rem/4rem Bahnschrift;
}
.connect-wallet2 {
  background-color: rgb(112, 215, 49);
  color: rgb(26, 24, 24);
  font-size: 20px;
  font-weight: 700;
  height: 66px;
  width: 100%;
  border: 10px solid rgb(48, 52, 57);
  border-radius: 20px;
  align-items: baseline;
  /* padding:-6px 6px 6px 6px; */
  padding-top: 0px;
  padding-bottom: 28px;
  cursor: pointer;
  margin-top: 0.625rem;
  max-width: 200px;
  transition: all 0.3s ease-in-out 0s;
  text-align: center;
  /* box-shadow: rgb(53 54 56 / 50%) 0px 16px 30px; */
  /* margin-top:10px; */
  margin-right: 8px;
  margin-left: 20px;
}

.h21 {
  font-size: 1rem;
}

@media (min-width: 400px) {
  .h21 {
    font-size: 1.3rem;
  }
}

@media (min-width: 600px) {
  .h21 {
    font-size: 1.6rem;
  }
}

@media (min-width: 800px) {
  .h21 {
    font-size: 1.2rem;
  }
}

button {
  width: 221px;
  margin: 5px;
  height: 47px;
  text-align: center;
  /* height: 60px; */
}

.border-gradient {
  border: 2px solid;
  border-image-slice: 1;
  border-width: 2px;
  background: linear-gradient(100deg, #227AFF, #1BF9F9);
  color: white;
  font-weight: 'bold';
  font-weight: 600;
  font-size: 24px;
}

.border-gradient2 {
  border: 2px solid;
  border-image-slice: 1;
  border-width: 2px;
  background: linear-gradient(100deg, #227AFF, #1BF9F9);
  color: black;
  font-weight: 600;
  font-size: 28px;
  border-radius: 15px;
  padding: -10px;
}

@media (min-width: 1000px) {
  .h21 {
    font-size: 2.2rem;
  }
}

.header-title {
  /* flex: 18 0 0; */
  flex-basis: 100%;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    64px/90px var(--unnamed-font-family-bahnschrift);
  color: var(--unnamed-color-707070);
  text-align: center;
  font: normal normal bold 3rem/4rem Bahnschrift;
  letter-spacing: 1.5rem;
  color: #707070;
  opacity: 1;
  white-space: normal;
  text-transform: uppercase;
  /* background-color: red; */
  margin-left: 1rem;
  font-size: 28rem;
}

.drawer-container {
  /* background-color: ; */
}

.drawer-title {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    64px/90px var(--unnamed-font-family-bahnschrift);
  color: var(--unnamed-color-ffffff);
  text-align: left;
  font: normal normal bold 2rem/3rem Bahnschrift;
  letter-spacing: 1rem;
  color: #ffffff;
  opacity: 1;
  background-color: #1a1a1a;
  margin: 1rem;
  margin-left: 44px;
  font-size: 30px;
  margin-bottom: 10px;
}

.drawer-route {
  margin: 1.5rem;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-48) / var(--unnamed-line-spacing-68)
    var(--unnamed-font-family-bahnschrift);
  color: var(--unnamed-color-707070);
  text-align: left;
  font: normal normal bold 2rem/3rem Bahnschrift;
  letter-spacing: 7.6px;
  color: #707070;
  opacity: 1;
  cursor: pointer;
  font-size: 22px;
  /* white-space: nowrap; */
}

.active a{
  background-color: red;
  color: #fff;
}
.create{
  background-color: red;
}
